.category-header {
    text-align: center;
    margin: 6rem 0 4rem;
    .category-title {
      font-size: 1.8rem;
      font-weight: 700;
    }
    .category-sub-title {
      a {
        display: block;
        font-size: 0.9rem;
        margin-top: 20px;
        color: #e66836;
        text-decoration: none;
        &:hover {
          color: #f57c5e;
        }
      }
      svg {
        margin-left: 6px;
      }
    }
  }