#home-banner {
  position: relative;
  background: url("@/assets/images/banners/home-banner.jpg") no-repeat right top /
    cover;
  height: 500px;

  .home-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    h1,
    h6 {
      color: white;
    }
    h1 {
      font-size: 3.6rem;
      font-weight: 600;
    }
    h6 {
      font-size: 1.2rem;
      margin: 20px 0 60px;
    }
  }
  .form-search {
    display: flex;
    gap: 5px;
    .search-name,
    #destination-select,
    #price-select,
    .btn-search {
      position: relative;
      width: 25%;
      height: 60px;
      border: none;
      outline: none;
    }

    .search-name {
      background-color: white;
      input {
        width: 100%;
        border: none;
        outline: none;
      }
      svg {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .search-name,
    .btn-search,
    select {
      padding: 15px 20px;
    }
    #destination-select,
    #price-select {
      background-color: white;
      svg {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    select {
      cursor: pointer;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
    .btn-search {
        background-color: #f97150;
        color : white;
        font-size: 17px;
        font-weight: 500;
    }
  }
}
